<!DOCTYPE html>
<html lang="en" xmlns:th=" www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link th:href="@{'/css/stylesheet.css'}" rel="stylesheet"/>
    <link href="/css/stylesheet.css" rel="stylesheet"/>
</head>
<body>

<div class="nav"> <!-- navigation begins here -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Recipe_book</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{'/'}">home</a></li>
                <li><a th:href="@{'injera'}">Injera</a></li>
                <li class="active"><a th:href="@{'crabby'}">Crabby cake</a></li>
                <li><a th:href="@{'golabjamun'}">Golab-Jamun</a></li>
                <li><a th:href="@{'jerkchicken'}">Jerk-Chicken</a></li>
                <li><a th:href="@{'pumkinricenoodles'}">Pumkin-Rice-Noodles</a></li>
                <li><a th:href="@{'bara'}">Bara</a></li>
                <li><a th:href="@{'croquemadame'}">Croque-Madame</a></li>
                <li><a th:href="@{'gallery'}">Gallery</a></li>
            </ul>
        </div>
    </nav>
</div> <!-- navigation ends here-->

<div class="container" >
    <div class="row" >
        <div class="col-sm-4" >
            <img class="img-flag headermargin" src="/images/usaflag.jpeg" alt="USA Flag"/>
        </div>
        <div class="col-sm-8 ">
            <h1>Crabcake - American food recipe</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Ingredients</h2>
            <ul>
                <li>1 lb. jumbo lump or backfin crab meat </li>
                <li>2 slices bread or bread crumbs</li>
                <li>1 tbsp. mayonnaise (light or regular)</li>
                <li>1 tbsp. Dijon mustard</li>
                <li>2 tsp. Old Bay seasoning</li>
                <li>1 tbsp. snipped parsley</li>
                <li>1 egg (or substitute for special diets)</li>
                <li> tartar sauce or cocktail sauce</li>
            </ul>
        </div>
        <div class="col-sm-7">
            <h2>Directions</h2>
           <p>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.

            Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.

            Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.
            </p>

            <h2>Broil the Crab Cakes:</h2>

            <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>
            <h2>Or saute:</h2>
<p>
            Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.

            Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</p>

            <h6>Serves 6 people</h6>
            <div class="row">

                <div class="col-4" align="left">
                    <img  class="img-fluid" src="http://www.crab-o-licious.com/images/stone-crab-3.jpg" alt="crab image"/>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>